<div class="container-fluid mt-4">
  <!-- <h2 class="text-center">Sistema Aquário</h2> -->
  <div class="row">
    <p-blockUI [blocked]="blocked"></p-blockUI>
    <p-messages [(value)]="msgs"></p-messages>
    <div class="col-12 text-center mt-4">
      <h4>INFORMAÇÕES:</h4>

      <!-- PÁGINA INICIAL -->
      <div *ngIf="!flagEditarParametros" class="container mt-3">
        <!-- ÚLTIMA ATUALIZAÇÃO -->
        <div class="row">
          <div class="col-12 text-center mb-3">
            <small>(Atualizado em: {{valoresRetorno.dataAtualizacao}})</small>
          </div>
        </div>
        <!-- TEMPERATURA -->
        <div class="row mb-2">
          <div class="col-6 text-right">
            Temperatura:
          </div>
          <div class="col-6 text-left">
            {{valoresRetorno.temperatura}} °C
          </div>
        </div>
        <!-- LOCAL -->
        <div class="row mb-2">
          <div class="col-6 text-right">
            Local:
          </div>
          <div class="col-6 text-left">
            {{valoresRetorno.descLocal}}
          </div>
        </div>
        <!-- ILUMINAÇÃO -->
        <div class="row mb-2">
          <div class="col-6 text-right">
            Iluminação:
          </div>
          <div class="col-6 text-left">
            <span *ngIf="valoresRetorno.flagIluminacao" class="p-tag p-tag-success">Ligado</span>
            <span *ngIf="!valoresRetorno.flagIluminacao" class="p-tag p-tag-danger">Desligado</span>
          </div>
        </div>
        <!-- AQUECEDOR -->
        <div class="row mb-2">
          <div class="col-6 text-right">
            Aquecedor:
          </div>
          <div class="col-6 text-left">
            <span *ngIf="valoresRetorno.flagAquecedor" class="p-tag p-tag-success">Ligado</span>
            <span *ngIf="!valoresRetorno.flagAquecedor" class="p-tag p-tag-danger">Desligado</span>
          </div>
        </div>
        <!-- RESFRIADOR -->
        <div class="row mb-2">
          <div class="col-6 text-right">
            Resfriador:
          </div>
          <div class="col-6 text-left">
            <span *ngIf="valoresRetorno.flagResfriador" class="p-tag p-tag-success">Ligado</span>
            <span *ngIf="!valoresRetorno.flagResfriador" class="p-tag p-tag-danger">Desligado</span>
          </div>
        </div>
        <!-- BOMDA D'ÁGUA -->
        <div class="row mb-2">
          <div class="col-6 text-right">
            Bomba D'Água:
          </div>
          <div class="col-6 text-left">
            <span *ngIf="valoresRetorno.flagEncher" class="p-tag p-tag-success">Ligado</span>
            <span *ngIf="!valoresRetorno.flagEncher" class="p-tag p-tag-danger">Desligado</span>
          </div>
        </div>
        <!-- DRENO -->
        <div class="row mb-2">
          <div class="col-6 text-right">
            Dreno:
          </div>
          <div class="col-6 text-left">
            <span *ngIf="valoresRetorno.flagEsvaziar" class="p-tag p-tag-success">Ligado</span>
            <span *ngIf="!valoresRetorno.flagEsvaziar" class="p-tag p-tag-danger">Desligado</span>
          </div>
        </div>
      </div>

      <!-- EDITAR PARÂMETROS -->
      <div *ngIf="flagEditarParametros" class="container mt-3">

        <!-- ILUMINAÇÃO -->
        <div class="row mb-2">
          <div class="col-6 text-right pt-2">
            <strong>Iluminação:</strong>
          </div>
          <div class="col-6 text-left" style="margin-left: -25px;">
            <button (click)="AlteraStatusFlag('ILUMINAÇÃO')" *ngIf="valoresNovos.flagIluminacao" pButton pRipple type="button" label="Ligado" class="p-button-raised p-button-success"></button>
            <button (click)="AlteraStatusFlag('ILUMINAÇÃO')" *ngIf="!valoresNovos.flagIluminacao" pButton pRipple type="button" label="Desligado" class="p-button-raised p-button-danger"></button>
          </div>
        </div>

        <!-- AQUECEDOR -->
        <div class="row mb-2">
          <div class="col-6 text-right pt-2">
            <strong>Aquecedor:</strong>
          </div>
          <div class="col-6 text-left" style="margin-left: -25px;">
            <button (click)="AlteraStatusFlag('AQUECEDOR')" *ngIf="valoresNovos.flagAquecedor" pButton pRipple type="button" label="Ligado" class="p-button-raised p-button-success"></button>
            <button (click)="AlteraStatusFlag('AQUECEDOR')" *ngIf="!valoresNovos.flagAquecedor" pButton pRipple type="button" label="Desligado" class="p-button-raised p-button-danger"></button>
          </div>
        </div>

        <!-- RESFRIADOR -->
        <div class="row mb-2">
          <div class="col-6 text-right pt-2">
            <strong>Resfriador:</strong>
          </div>
          <div class="col-6 text-left" style="margin-left: -25px;">
            <button (click)="AlteraStatusFlag('RESFRIADOR')" *ngIf="valoresNovos.flagResfriador" pButton pRipple type="button" label="Ligado" class="p-button-raised p-button-success"></button>
            <button (click)="AlteraStatusFlag('RESFRIADOR')" *ngIf="!valoresNovos.flagResfriador" pButton pRipple type="button" label="Desligado" class="p-button-raised p-button-danger"></button>
          </div>
        </div>

        <!-- BOMBA DE ÁGUA -->
        <div class="row mb-2">
          <div class="col-6 text-right pt-2">
            <strong>Bomba de água:</strong>
          </div>
          <div class="col-6 text-left" style="margin-left: -25px;">

            <!-- <button data-toggle="modal" data-target="#modalMensagem" (click)="AlteraStatusFlag('BOMBADEAGUA')" *ngIf="valoresNovos.flagEncher" pButton pRipple type="button" label="Ligado" class="p-button-raised p-button-success"></button>
            <button data-toggle="modal" data-target="#modalMensagem" (click)="AlteraStatusFlag('BOMBADEAGUA')" *ngIf="!valoresNovos.flagEncher" pButton pRipple type="button" label="Desligado" class="p-button-raised p-button-danger"></button> -->
            <button data-toggle="modal" data-target="#modalMensagem" *ngIf="valoresNovos.flagEncher" pButton pRipple type="button" label="Ligado" class="p-button-raised p-button-success"></button>
            <button data-toggle="modal" data-target="#modalMensagem" *ngIf="!valoresNovos.flagEncher" pButton pRipple type="button" label="Desligado" class="p-button-raised p-button-danger"></button>
          </div>
        </div>

        <button *ngIf="flagEditarParametros" (click)="flagEditarParametros = !flagEditarParametros" pButton pRipple type="button" label="Voltar" class="p-button-raised p-button-info mt-3"></button>
      </div>

      <button *ngIf="!flagEditarParametros" (click)="flagEditarParametros = !flagEditarParametros; valoresNovos = valoresRetorno;" pButton pRipple type="button" label="Editar Parâmetros" class="p-button-raised p-button-secondary mt-3"></button>

    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modalMensagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha Secundária</label>
              <input [(ngModel)]="senhaSecundariaForm" name="senhaSecundariaForm" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button (click)="AlteraStatusFlag('BOMBADEAGUA')" type="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>
