.pointer {
  cursor: pointer;
  background-color: rgb(94, 0, 0);
}

a.pointer:hover{
  background-color: rgb(112, 112, 112);
}

.validaInput {
  border-color:red;
}

.botoesFunc button {
  width: 100px;
}

.infoBtn {
  width: 80px;
}

.logoMenu {
  position: absolute;
  z-index: 1000;
  color: white;
  padding-top: 8px;
  padding-left: 10px;
}

.mensagemFloat {
  width:100vw;
  height:100px;
  background:transparent;
  position:absolute;
  z-index:100;
  text-align: center;
}
